{{#extend "body"}}

<h1>yay! it got included</h1>

<h1>{{title}}</h1>

<script type='text/javascript'>

     var bsd = {{{json events}}};
           
     console.log(bsd);
	
</script> 

{{/extend}}

